main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.userOption{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 1em;
    user-select: none;
}

.cardGroup{
    margin-left: 2em;
    margin-right: 1em;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: stretch;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: end;
    position: fixed;
    bottom: 0;
    height: 10vh;
}

.footer button{
    margin-right: 4vw;
}
