<div class="home">
    <main class="main">
        <div class="mainHeader">
            <div class="userChoice">
                <p>Usuário: </p>
                <mat-form-field>
                    <mat-label>Escolha o usuário</mat-label>
                    <mat-select [(ngModel)]="userId">
                        <mat-option *ngFor="let user of usersData" [value]="user.id">
                            {{user.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sortOption">
                <p>Deseja filtrar por: </p>
                <button mat-raised-button color="primary" (click)="sortByOption('likes')">Likes</button>
                <button mat-raised-button color="primary" (click)="sortByOption('dislikes')">Dislikes</button>
            </div>
        </div>
        <div class="cards">
            <app-card *ngFor="let story of storiesData" (voteCreated)="createVote($event)" [userId]="userId" (storyUpdated)="updateStory($event)" (storyDeleted)="deleteStory($event)" [storyId]="story.id" [storyTitle]="story.title" [storyDescription]="story.description" [storyDepartment]="story.department" [storyLikes]="story.likes" [storyDislikes]="story.dislikes"></app-card>
        </div>
    </main>
    <div class="footer">
        <button mat-fab color="primary" (click)="openDialog()"><mat-icon>add</mat-icon></button>
    </div>
</div>