<div class="modal">
    <h1 mat-dialog-title>Atualizar uma estória</h1>
    <mat-dialog-content class="label-content">
        <p>Título</p>
    </mat-dialog-content>
    <mat-form-field class="mat-form-field">
      <mat-label>Enter your title</mat-label>
      <input matInput placeholder="A great title here" [formControl]="title" required maxlength="50">
      @if (title.invalid) {
        <mat-error>{{getErrorMessage()}}</mat-error>
      }
    </mat-form-field>
    <mat-dialog-content class="label-content">
        <p>Descrição</p>
    </mat-dialog-content>
    <mat-form-field class="mat-form-field">
        <mat-label>Enter your description</mat-label>
        <input matInput placeholder="A great description here" [formControl]="description" required maxlength="150">
        @if (description.invalid) {
          <mat-error>{{getErrorMessage()}}</mat-error>
        }
    </mat-form-field>
    <mat-dialog-content class="label-content">
        <p>Departamento</p>
    </mat-dialog-content>
    <mat-form-field class="mat-form-field">
        <mat-label>Enter your department</mat-label>
        <input matInput placeholder="A great department here" [formControl]="department" required maxlength="30">
        @if (department.invalid) {
          <mat-error>{{getErrorMessage()}}</mat-error>
        }
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar </button>
        <button mat-raised-button color="primary" (click)="updateStory()"> Atualizar </button>
    </div>
  </div>